<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test views app</title>
  </head>
  <body>
    <% d = Date.new
     Today = d.strftime("The date is %A, %B %e, %C") %>
    <h1><%= Today %></h1>
  </body>
</html>
